/.claude/
/.codex/
/openspec/
/.github/
Smann_STG_APK/
*.apk
*.apk
/Tests/Appium/STG_Smann/Smann_STG_APK
/Tests/Appium/STG_Smann/Smann_STG_APK
*.pyc
Tests/Appium/STG_Smann/Smann_STG_APK/STG_Smann.apk
/Tests/Appium/STG_Smann/Smann_STG_APK
