name: Mobile Automation CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  android-tests:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Start Appium Server
        run: |
          start /B appium

      - name: Wait for Appium
        run: |
          timeout /t 10

      - name: Run Login Logout Test
        run: |
          python tests/STG_Smann/Login_Logout/Login_Logout_RealPhone.py
