name: Mobile Automation CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  android-tests:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Python
        run: |
          python --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install Appium-Python-Client selenium

      - name: Check ADB devices
        run: |
          adb devices

      - name: Start Appium Server
        run: |
          Start-Process appium -ArgumentList "--log appium.log --log-level info"

      - name: Wait for Appium to start
        run: |
          Start-Sleep -Seconds 10

      - name: Run Login Logout Test
        run: |
          python Tests/STG_Smann/Login_Logout/Login_Logout_TestNum.py
