name: Mobile Automation CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  android-tests:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Python
        run: |
          python --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install Appium-Python-Client selenium

      - name: Check ADB devices
        run: |
          adb devices

      - name: Start Appium Server
        run: |
          echo Starting Appium...
          cmd /c start "AppiumServer" appium --address 127.0.0.1 --port 4723 --log appium.log

      - name: Wait for Appium to be Ready
        run: |
          echo Waiting for Appium to open port 4723...
          for /l %i in (1,1,20) do (
            netstat -an | find "4723" && exit /b 0
            timeout /t 1 >nul
          )
          echo Appium did not start properly
          exit /b 1

      - name: Run STG Smann Login Logout Test
        run: |
          python Tests/STG_Smann/Login_Logout/Login_Logout_TestNum.py

      - name: Run STG Smann Skip Order login Test
        run: |
          python Tests/STG_Smann/Successful_Order/SkipLogin_Order_TN.py

      - name: Run STG Vendor Login Logout Test
        run: |
          python Tests/STG_Partner/Vendor_Onboarding_and_login/vendor_Onboarding_TN.py

              
