name: Mobile Automation CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  android-tests:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Python
        run: |
          python --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install Appium-Python-Client selenium

      - name: Check ADB devices
        run: |
          adb devices

      - name: Start Appium Server
        shell: powershell
        run: |
          Write-Host "Starting Appium Server..."
          Start-Process -NoNewWindow -FilePath "appium" -ArgumentList "--port 4723 --log-level info" 
          Start-Sleep -Seconds 5

      - name: Wait for Appium to be Ready
        shell: powershell
        run: |
          Write-Host "Waiting for Appium server on port 4723..."
          $maxAttempts = 20
          $attempt = 0
          $ready = $false

          while (-not $ready -and $attempt -lt $maxAttempts) {
              try {
                  $response = Invoke-WebRequest -Uri "http://127.0.0.1:4723/status" -UseBasicParsing -TimeoutSec 3
                  if ($response.StatusCode -eq 200) {
                      $ready = $true
                      Write-Host "Appium server is ready."
                  }
              } catch {
                  Write-Host "Appium not ready yet..."
                  Start-Sleep -Seconds 3
              }
              $attempt++
          }

          if (-not $ready) {
              Write-Error "Appium server failed to start!"
              exit 1
          }

      - name: Run STG Smann Login Logout Test
        run: |
          python Tests/STG_Smann/Login_Logout/Login_Logout_TestNum.py

      - name: Run STG Smann Skip Order login Test
        run: |
          python Tests/STG_Smann/Successful_Order/SkipLogin_Order_TN.py

      - name: Run STG Vendor Login Logout Test
        run: |
          python Tests/STG_Partner/Vendor_Onboarding_and_login/vendor_Onboarding_TN.py

              
